.arriendo_body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    width: 100%;           
}

.arriendos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.arriendos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos_arriendo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.datos_arriendo select {
    flex-shrink: 0;
    box-sizing: border-box;
}

.agregar_arriendo {
    margin-top: -10px;
}

.titulo_pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F0F0F0;
    margin-top: -10px;
}

.imagen_portada {
    width: 100vw;
    height: auto;
}

.servicio_imagen {
    width: clamp(300px, 35vw, 390px);
    height: auto;
}

.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 30%;
    left: 65%;
    bottom: 10%;
    background-color: #F5F5F5;
    padding: 10px 10px;
    border-radius: 5%;
    z-index: 1000;
    box-shadow: 10px 10px 10px 5px #00000044;
}

.total_carrito {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
}

table {
    width: 100%;
}

tr, td {
    text-align: left;
}

@media (max-width: 600px) {
    .arriendos_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .arriendo_categoria {
        text-align: center;
    }

    .carrito {
        position: relative;
        left: 0%;
        bottom: 0%;
        width: 100%;
    }
}