header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #000;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid #000;
    padding: 0px 12px;
}