@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #123c56;
    color: white;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

a {
    text-decoration: none;
    color: white;
}

.hipervinculos {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F0F0F0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    flex: 1;
}

.datos_footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.espacio-blanco {
    height: 100px;
}

@media (max-width: 600px) {
    .hipervinculos {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    header a {
        padding-top: 8px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .datos_footer {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    footer p {
        margin-top: -10px;
    }

}