body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../imgs/fondo.jpg");
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.cuadroRegistro {
    width: 400px;
    max-width: 100%;
    text-align: center;
    padding: 50px;
    background-color: #fbfbfb;
    border-radius: 10px;
}

.cuadroRegistro button {
    background-color: #5b9fe7;
    color: white;
    padding: 12px 35px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cuadroRegistro  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}